{% extends 'base.html' %}

{% block content %}

<div class="container mt-5 p-5 w-50 border border-2 border-dark">

<h2 class="text-center">Factorial</h2>

    <form method="post">
        {% csrf_token %}


        <div class="mb-3">
  <label class="form-label">Number</label>
  <input type="number" class="form-control" name="fact1"  value="{{fact1}}">
</div>


        <div class="mb-3">
<input type="submit" class="btn btn-outline-dark " value="FACTORIAL">
</div>


            {% if result %}
    <h4>Factorial is:{{result}}</h4>
    {% endif %}


    </form>

</div>
{% endblock %}